.balloon {
	cursor: pointer;
}

.balloon3 {
	animation: balloonFly_3 infinite 3s linear;
	-webkit-animation: balloonFly_3 infinite 3s linear;
}

@keyframes balloonFly_3 {
	0% {transform: translateY(50%);}
	50% {transform: translateY(10%);}
	100% {transform: translateY(50%);}
}

@-webkit-keyframes balloonFly_3 {
	0% {-webkit-transform: translateY(50%);}
	50% {-webkit-transform: translateY(10%);}
	100% {-webkit-transform: translateY(50%);}
}

.hotBalloonFly {
	animation: hotBalloonFlying infinite 3s linear;
	-webkit-animation: hotBalloonFlying infinite 3s linear;
}

@keyframes hotBalloonFlying {
	0% {transform: translateY(50%);}
	50% {transform: translateY(10%);}
	100% {transform: translateY(50%);}
}

@-webkit-keyframes hotBalloonFlying {
	0% {-webkit-transform: translateY(50%);}
	50% {-webkit-transform: translateY(10%);}
	100% {-webkit-transform: translateY(50%);}
}